@charset "UTF-8";
/*=============== VARIABLES ===============*/
:root {
  /*========== Colors ==========*/
  --color-black: #000000;
  --color-white: #ffffff;
  --color-dark: #1d1d25;
  --color-bg-dark: #292f3e;
  --color-border: #e5e7ec;
  --color-icon-ligth: #acb5bc;
  --color-border-light: #95bbd7;
  --color-btn-primary: #3482ff;
  --color-btn-secondary: #f79d5a;
  --color-title: #0b0b0b;
  --color-big-title: #2a2a2a;
  --color-title-accent: #f89e52;
  --color-big-title-accent: #ff7012;
  --color-text: #727272;
  --color-text-dark: #191919;
  --color-text-light: #bbbbbb;
  --color-text-card: #6b645d;
  --color-text-accent: #959eb6;
  --color-text-menu: #252541;
  --color-text-menu-light: #c5c7cb;
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
}

/*========== Breakpoint ==========*/
/* Large(Desktop): 1025px - 1279px */
/* Medium(Laptop): 769px - 1024px */
/* Small(Tablet): 481px - 768px */
/* Extra small(Mobile): 0px (320px) - 480px */
/*=============== VARIABLES ===============*/
:root {
  /*========== Colors ==========*/
  --color-black: #000000;
  --color-white: #ffffff;
  --color-dark: #1d1d25;
  --color-bg-dark: #292f3e;
  --color-border: #e5e7ec;
  --color-icon-ligth: #acb5bc;
  --color-border-light: #95bbd7;
  --color-btn-primary: #3482ff;
  --color-btn-secondary: #f79d5a;
  --color-title: #0b0b0b;
  --color-big-title: #2a2a2a;
  --color-title-accent: #f89e52;
  --color-big-title-accent: #ff7012;
  --color-text: #727272;
  --color-text-dark: #191919;
  --color-text-light: #bbbbbb;
  --color-text-card: #6b645d;
  --color-text-accent: #959eb6;
  --color-text-menu: #252541;
  --color-text-menu-light: #c5c7cb;
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
}

/*========== Breakpoint ==========*/
/* Large(Desktop): 1025px - 1279px */
/* Medium(Laptop): 769px - 1024px */
/* Small(Tablet): 481px - 768px */
/* Extra small(Mobile): 0px (320px) - 480px */
/*=============== UTILS ===============*/
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.container--down {
  padding-top: 80px;
}

.card-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

.line {
  width: 100%;
  height: 1px;
  margin-bottom: 8px;
  background-color: var(--color-border);
}

.col,
.col-2,
.col-3,
.col-4,
.col-6 {
  padding: 0;
}

.content__container {
  gap: 3.2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.subtitle {
  font-size: 2rem;
  line-height: 120%;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--color-title-accent);
}

.text--dark {
  color: var(--color-text-dark);
  text-decoration: underline;
}

.content-text {
  font-size: 1.9rem;
  line-height: 170%;
  color: var(--color-text);
}

.button__container {
  padding-top: 64px;
}

.counter {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

/*=============== ANIMATION ===============*/
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(20px, 10px, 0);
            transform: translate3d(20px, 10px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes floating {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(20px, 10px, 0);
            transform: translate3d(20px, 10px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
/*=============== BASE ===============*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
  font-weight: 400;
}

body {
  font-family: var(--body-font);
  background-color: var(--color-white);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-title);
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  cursor: pointer;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

/*=============== HEADER ===============*/
.header {
  width: 100%;
  padding: 7px 0;
  position: absolute;
  top: 0;
  left: 0;
}
.header__menu {
  gap: 5.2rem;
}
.header__nav {
  gap: 3.2rem;
}
.header__nav .nav-link {
  padding: 3.5rem 0;
  font-size: 1.6rem;
  font-weight: 500;
}

/*=============== HERO ===============*/
.hero {
  padding-top: 120px;
  padding-bottom: 196px;
  margin-bottom: -196px;
  background-color: var(--color-white);
}
.hero .subtitle {
  padding: 1.2rem 2.4rem;
  border-radius: 3.2rem;
  color: var(--color-white);
  background-color: var(--color-btn-secondary);
  font-size: 1.8rem;
}
.hero .title {
  font-size: 6rem;
}
.hero-gallery {
  gap: 1.6rem;
  grid-template-columns: auto auto;
}

/*=============== CUSTOMERS ===============*/
.customers {
  border-radius: 20px;
  background: var(--color-dark);
  padding: 6.3rem 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 85px;
  z-index: 5;
}

/*=============== MANAGAMENT ===============*/
.management {
  background-color: var(--color-bg-dark);
  padding-top: 195px;
  padding-bottom: 112px;
}
.management .content-text {
  color: var(--color-text-light);
}

/*=============== EXPERTISE ===============*/
.expertise {
  background-color: var(--color-white);
  padding: 112px 0;
}
.expertise-container {
  gap: 44px;
  position: relative;
}
.expertise-content {
  max-width: 400px;
  position: relative;
}
.expertise-slider {
  gap: 24px;
  left: 444px;
  position: absolute;
  max-width: 964px;
}
.expertise__float-img {
  position: absolute;
  -webkit-animation: rotate 5s infinite;
          animation: rotate 5s infinite;
}
.expertise__float-img:nth-child(1) {
  width: 67px;
  left: -105px;
  top: -50px;
}
.expertise__float-img:nth-child(2) {
  width: 109px;
  right: 83px;
  bottom: -65px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.expertise .content-text {
  color: var(--color-text);
}

/*=============== INBOX ===============*/
.inbox {
  background-color: var(--color-white);
  padding: 60px 0;
}
.inbox-container {
  gap: 149px;
  position: relative;
}
.inbox-content {
  max-width: 400px;
  position: relative;
}
.inbox__float-img {
  position: absolute;
}
.inbox__float-img:nth-child(1) {
  width: 67px;
  right: 16px;
  top: -87px;
  -webkit-animation: rotate 5s infinite;
          animation: rotate 5s infinite;
}
.inbox__float-img:nth-child(2) {
  width: 109px;
  right: -53px;
  bottom: -35px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation: floating 5s infinite;
          animation: floating 5s infinite;
}
.inbox__image {
  position: relative;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 76px;
  border-radius: 76px;
  border: 1px dashed var(--color-border-light);
}
.inbox__image--big {
  border-radius: 66px;
}
.inbox__image--float {
  position: absolute;
}
.inbox__image--float:nth-child(1) {
  top: -72px;
  right: 110px;
}
.inbox__image--float:nth-child(2) {
  top: 77px;
  left: -26px;
}
.inbox__image--float:nth-child(3) {
  top: 50%;
  left: 53px;
}
.inbox__image--float:nth-child(4) {
  top: 300px;
  right: -14px;
}
.inbox__image--float:nth-child(5) {
  bottom: -35px;
  left: 66px;
}
.inbox .content-text {
  color: var(--color-text);
}

/*=============== AUDIENCE ===============*/
.audience {
  background-color: var(--color-white);
  padding: 164px 0;
}
.audience-container {
  gap: 72px;
  position: relative;
}
.audience-content {
  position: relative;
}
.audience__float-img {
  position: absolute;
}
.audience__float-img:nth-child(1) {
  width: 68px;
  right: -153px;
  top: -57px;
  -webkit-animation: rotate 5s infinite;
          animation: rotate 5s infinite;
}
.audience__float-img:nth-child(2) {
  width: 109px;
  right: 136px;
  bottom: -41px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation: floating 5s infinite;
          animation: floating 5s infinite;
}
.audience .content-text {
  color: var(--color-text);
}

/*=============== TITLE ===============*/
.title {
  font-size: 5rem;
  line-height: 120%;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--color-title);
}
.title--white {
  color: var(--color-white);
}
.title--red {
  color: #f76766;
}
.title--light-blue {
  color: #57c0ce;
}
.title--blue {
  color: #265fdb;
}
.title--purple {
  color: #a666f7;
}

/*=============== ICONS ===============*/
.icon {
  width: 32px;
  height: 32px;
}
.icon--light {
  fill: var(--color-icon-ligth);
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
}
.icon--light:hover {
  fill: var(--color-btn-primary);
}
.icon-container {
  gap: 1.5rem;
}

/*=============== LINK ===============*/
.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
}
.nav-item:hover {
  color: var(--color-title-accent);
}
.nav-item:hover .nav-link__arrow {
  fill: var(--color-title-accent);
}

.nav-link {
  color: var(--color-text-menu);
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.nav-link__arrow {
  fill: var(--color-text-menu);
  width: 14px;
  height: 16px;
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
}

/*=============== BUTTON ===============*/
.button {
  padding: 1.9rem 3.3rem;
  border-radius: 2rem;
  color: var(--color-white);
  font-size: 1.6rem;
  font-weight: 600;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: none;
}
.button:hover {
  opacity: 0.5;
}
.button__primary {
  color: var(--color-white);
  background-color: var(--color-btn-primary);
}
.button__primary--outline {
  color: var(--color-btn-primary);
  border: 1px solid var(--color-btn-primary);
  background-color: var(--color-white);
}
.button__primary--link {
  color: var(--color-btn-primary);
  border: 1px solid transparent;
}
.button__primary--link:hover {
  border: 1px solid var(--color-btn-primary);
}
.button__secondary {
  background-color: var(--color-btn-secondary);
}
.button__container {
  gap: 1.2rem;
}

/*=============== DROPDOWN ===============*/
.dropdown-toggle::after {
  border: none;
}
.dropdown-toggle.show {
  color: var(--color-title-accent);
}
.dropdown-toggle.show .nav-link__arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  fill: var(--color-title-accent);
}
.dropdown__menu {
  width: 100vw;
  padding: 4.3rem 0 5.6rem 0;
  border-bottom: 1px solid var(--color-border);
  background: var(--color-white);
  -webkit-box-shadow: 0px 14px 44px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 14px 44px 0px rgba(0, 0, 0, 0.05);
}
.dropdown-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dropdown-container--row {
  width: 100%;
  gap: 2.8rem;
}
.dropdown__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
}
.dropdown__title {
  color: var(--color-text-menu);
  font-size: 2.8rem;
  font-weight: 300;
}
.dropdown__content {
  color: var(--color-text);
  font-size: 1.8rem;
  line-height: 180%;
}
.dropdown-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.dropdown-list__item {
  gap: 1.2rem;
}
.dropdown-list__icon {
  width: 20px;
  height: 20px;
}
.dropdown-list__text {
  color: var(--color-text);
  font-size: 1.9rem;
  line-height: 166%;
  cursor: pointer;
}
.dropdown-list__text:hover {
  color: var(--color-title-accent);
}

/*=============== GALLERY ===============*/
.gallery {
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.gallery-image {
  border-radius: 1.6rem;
}
.gallery-image--large {
  width: 300px;
  height: 100%;
  background-color: var(--color-border);
  grid-column: 2/3;
  grid-row: 1/span 2;
}

/*=============== COUNTERS ===============*/
.counters {
  gap: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.counters__card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.9rem;
  width: 250px;
  height: 250px;
  border-radius: 20px;
  background-color: var(--color-white);
  -webkit-box-shadow: 0px 35px 34px 0px rgba(61, 90, 125, 0.06);
          box-shadow: 0px 35px 34px 0px rgba(61, 90, 125, 0.06);
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
}
.counters__card--offices {
  background-image: url(../../images/counters/counter_icon01.svg);
}
.counters__card--customers {
  background-image: url(../../images/counters/counter_icon03.svg);
}
.counters__card--workers {
  background-image: url(../../images/counters/counter_icon02.svg);
  background-position: right bottom;
}
.counters__card--projects {
  background-image: url(../../images/counters/counter_icon04.svg);
}
.counters__card .content-text {
  color: var(--color-text-card);
}
.counters__card-img-bg {
  position: absolute;
  bottom: 0;
  left: 0;
}

/*=============== SLIDER ===============*/
.slider__item {
  width: 379px;
  cursor: pointer;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}/*# sourceMappingURL=main.css.map */