@charset "UTF-8";
/*=============== VARIABLES ===============*/
:root {
  /*========== Colors ==========*/
  --color-black: #000000;
  --color-white: #ffffff;
  --color-dark: #1d1d25;
  --color-bg-dark: #292f3e;
  --color-border: #e5e7ec;
  --color-icon-ligth: #acb5bc;
  --color-border-light: #95bbd7;
  --color-btn-primary: #3482ff;
  --color-btn-secondary: #f79d5a;
  --color-title: #0b0b0b;
  --color-big-title: #2a2a2a;
  --color-title-accent: #f89e52;
  --color-big-title-accent: #ff7012;
  --color-text: #727272;
  --color-text-dark: #191919;
  --color-text-light: #bbbbbb;
  --color-text-card: #6b645d;
  --color-text-accent: #959eb6;
  --color-text-menu: #252541;
  --color-text-menu-light: #c5c7cb;
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
}

/*========== Breakpoint ==========*/
/* Large(Desktop): 1025px - 1279px */
/* Medium(Laptop): 769px - 1024px */
/* Small(Tablet): 481px - 768px */
/* Extra small(Mobile): 0px (320px) - 480px */
/*=============== VARIABLES ===============*/
:root {
  /*========== Colors ==========*/
  --color-black: #000000;
  --color-white: #ffffff;
  --color-dark: #1d1d25;
  --color-bg-dark: #292f3e;
  --color-border: #e5e7ec;
  --color-icon-ligth: #acb5bc;
  --color-border-light: #95bbd7;
  --color-btn-primary: #3482ff;
  --color-btn-secondary: #f79d5a;
  --color-title: #0b0b0b;
  --color-big-title: #2a2a2a;
  --color-title-accent: #f89e52;
  --color-big-title-accent: #ff7012;
  --color-text: #727272;
  --color-text-dark: #191919;
  --color-text-light: #bbbbbb;
  --color-text-card: #6b645d;
  --color-text-accent: #959eb6;
  --color-text-menu: #252541;
  --color-text-menu-light: #c5c7cb;
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
}

/*========== Breakpoint ==========*/
/* Large(Desktop): 1025px - 1279px */
/* Medium(Laptop): 769px - 1024px */
/* Small(Tablet): 481px - 768px */
/* Extra small(Mobile): 0px (320px) - 480px */
/*=============== UTILS ===============*/
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.container--down {
  padding-top: 80px;
}

.bg--dark {
  background-color: var(--color-bg-dark);
}
.bg--gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(24.5%, #f2faff), color-stop(68%, #f2faff), to(#fff));
  background: linear-gradient(180deg, #fff 0%, #f2faff 24.5%, #f2faff 68%, #fff 100%);
}

.line {
  width: 100%;
  height: 1px;
  margin-bottom: 8px;
  background-color: var(--color-border);
}

.content__container, .content__container--center {
  gap: 3.2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.content__container--center {
  text-align: center;
  gap: 1.6rem;
}

/*=============== ANIMATION ===============*/
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(20px, 10px, 0);
            transform: translate3d(20px, 10px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes floating {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(20px, 10px, 0);
            transform: translate3d(20px, 10px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes bubbleMover {
  0% {
    -webkit-transform: translateY(0px) translateX(0) rotate(0);
            transform: translateY(0px) translateX(0) rotate(0);
  }
  30% {
    -webkit-transform: translateY(30px) translateX(50px) rotate(15deg);
            transform: translateY(30px) translateX(50px) rotate(15deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  50% {
    -webkit-transform: translateY(50px) translateX(100px) rotate(45deg);
            transform: translateY(50px) translateX(100px) rotate(45deg);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
  }
  80% {
    -webkit-transform: translateY(30px) translateX(50px) rotate(15deg);
            transform: translateY(30px) translateX(50px) rotate(15deg);
    -webkit-transform-origin: left top;
            transform-origin: left top;
  }
  100% {
    -webkit-transform: translateY(0px) translateX(0) rotate(0);
            transform: translateY(0px) translateX(0) rotate(0);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
}
@keyframes bubbleMover {
  0% {
    -webkit-transform: translateY(0px) translateX(0) rotate(0);
            transform: translateY(0px) translateX(0) rotate(0);
  }
  30% {
    -webkit-transform: translateY(30px) translateX(50px) rotate(15deg);
            transform: translateY(30px) translateX(50px) rotate(15deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  50% {
    -webkit-transform: translateY(50px) translateX(100px) rotate(45deg);
            transform: translateY(50px) translateX(100px) rotate(45deg);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
  }
  80% {
    -webkit-transform: translateY(30px) translateX(50px) rotate(15deg);
            transform: translateY(30px) translateX(50px) rotate(15deg);
    -webkit-transform-origin: left top;
            transform-origin: left top;
  }
  100% {
    -webkit-transform: translateY(0px) translateX(0) rotate(0);
            transform: translateY(0px) translateX(0) rotate(0);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
}
@-webkit-keyframes ImgBounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}
@keyframes ImgBounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*=============== BASE ===============*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
  font-weight: 400;
}

body {
  font-family: var(--body-font);
  background-color: var(--color-white);
  color: var(--color-text);
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-title);
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  cursor: pointer;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

.col,
.col-2,
.col-3,
.col-4,
.col-6 {
  padding: 0;
}

/*=============== HEADER ===============*/
.header {
  width: 100%;
  padding: 7px 0;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  z-index: 10;
}
.header__menu {
  gap: 5.2rem;
}
.header__nav {
  gap: 3.2rem;
}
.header__nav .nav-link {
  padding: 3.5rem 0;
  font-size: 1.6rem;
  font-weight: 500;
}

/*=============== HERO ===============*/
.hero {
  padding-top: 120px;
  padding-bottom: 196px;
  margin-bottom: -196px;
  background-color: var(--color-white);
}
.hero .subtitle, .hero .subtitle--gradient {
  padding: 1.2rem 2.4rem;
  border-radius: 3.2rem;
  color: var(--color-white);
  background-color: var(--color-btn-secondary);
  font-size: 1.8rem;
}
.hero .title, .hero .title--accordion, .hero .title--xxl, .hero .title--xl, .hero .title--form, .hero .title--footer {
  font-size: 6rem;
}
.hero__gallery {
  gap: 1.6rem;
  grid-template-columns: auto auto;
}

/*=============== CUSTOMERS ===============*/
.customers {
  border-radius: 20px;
  background: var(--color-dark);
  padding: 6.3rem 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 85px;
  z-index: 5;
}

/*=============== MANAGAMENT ===============*/
.management {
  padding-top: 195px;
  padding-bottom: 112px;
}
.management .text, .management .text--xs, .management .text--small, .management .text--xl, .management .text--ul {
  color: var(--color-text-light);
}

/*=============== BRAND-CREATION ===============*/
.brand-creation {
  background-color: var(--color-white);
  padding-top: 112px;
  padding-bottom: 70px;
  margin-bottom: -70px;
  overflow: hidden;
}
.brand-creation .container {
  position: relative;
}
.brand-creation__content {
  max-width: 400px;
  position: relative;
  z-index: 2;
}
.brand-creation__slider {
  gap: 2.4rem;
  left: 444px;
  position: absolute;
  max-width: 964px;
}
.brand-creation__slider::before {
  position: absolute;
  content: "";
  width: 4000px;
  height: 100%;
  background: #fff;
  right: 100%;
  top: 0;
  z-index: 1;
}
.brand-creation__slider .slick-track::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.brand-creation__slider .slider__item {
  width: 379px;
}
.brand-creation__float-img {
  position: absolute;
  -webkit-animation: rotate 5s infinite;
          animation: rotate 5s infinite;
}
.brand-creation__float-img:nth-child(1) {
  width: 67px;
  left: -105px;
  top: -50px;
}
.brand-creation__float-img:nth-child(2) {
  width: 109px;
  right: 83px;
  bottom: -65px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

/*=============== INBOX ===============*/
.inbox {
  background-color: var(--color-white);
  padding-top: 180px;
}
.inbox .container {
  gap: 15rem;
  position: relative;
}
.inbox__content {
  max-width: 400px;
  position: relative;
}
.inbox__float-img {
  position: absolute;
}
.inbox__float-img:nth-child(1) {
  width: 67px;
  right: 16px;
  top: -87px;
  -webkit-animation: rotate 5s infinite;
          animation: rotate 5s infinite;
}
.inbox__float-img:nth-child(2) {
  width: 109px;
  right: -53px;
  bottom: -35px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation: floating 5s infinite;
          animation: floating 5s infinite;
}
.inbox__image {
  position: relative;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 76px;
  border-radius: 76px;
  border: 1px dashed var(--color-border-light);
}
.inbox__image--big {
  border-radius: 66px;
}
.inbox__image--float {
  position: absolute;
}
.inbox__image--float:nth-child(1) {
  top: -72px;
  right: 110px;
  -webkit-animation: ImgBounce 5s ease-in-out 0s infinite alternate;
          animation: ImgBounce 5s ease-in-out 0s infinite alternate;
}
.inbox__image--float:nth-child(2) {
  top: 77px;
  left: -26px;
  -webkit-animation: scale 5s ease-in-out 0s infinite;
          animation: scale 5s ease-in-out 0s infinite;
}
.inbox__image--float:nth-child(3) {
  top: 50%;
  left: 53px;
}
.inbox__image--float:nth-child(4) {
  top: 300px;
  right: -14px;
}
.inbox__image--float:nth-child(5) {
  bottom: -35px;
  left: 66px;
  -webkit-animation: scale 5s ease-in-out 0s infinite;
          animation: scale 5s ease-in-out 0s infinite;
}

/*=============== AUDIENCE ===============*/
.audience {
  background-color: var(--color-white);
  padding-top: 224px;
}
.audience .container {
  gap: 7.2rem;
  position: relative;
}
.audience__content {
  position: relative;
}
.audience__float-img {
  position: absolute;
}
.audience__float-img:nth-child(1) {
  width: 68px;
  right: -153px;
  top: -57px;
  -webkit-animation: rotate 5s infinite;
          animation: rotate 5s infinite;
}
.audience__float-img:nth-child(2) {
  width: 109px;
  right: 136px;
  bottom: -41px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation: floating 5s infinite;
          animation: floating 5s infinite;
}

/*=============== Troubles Growing ===============*/
.troubles-growing {
  background-color: var(--color-white);
  padding-top: 224px;
  padding-bottom: 112px;
}
.troubles-growing .container {
  gap: 6rem;
  position: relative;
}
.troubles-growing__content {
  max-width: 512px;
  position: relative;
}
.troubles-growing__image {
  position: relative;
}
.troubles-growing__image--float {
  position: absolute;
}
.troubles-growing__image--float:nth-child(1) {
  width: 45px;
  left: -31px;
  top: 0;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  -webkit-animation-name: bubbleMover;
          animation-name: bubbleMover;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}
.troubles-growing__image--float:nth-child(2) {
  width: 293px;
  right: 63px;
  top: -98px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation: ImgBounce 5s ease-in-out 0s infinite alternate;
          animation: ImgBounce 5s ease-in-out 0s infinite alternate;
}
.troubles-growing__image--float:nth-child(3) {
  width: 27px;
  right: 0;
  bottom: 71px;
  -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-animation: ImgBounce 3s ease-in-out 0s infinite alternate;
          animation: ImgBounce 3s ease-in-out 0s infinite alternate;
}

/*=============== EXPERIENCE ===============*/
.experience {
  padding: 112px 0;
  overflow: hidden;
}
.experience .content__container--center {
  max-width: 600px;
}
.experience .button, .experience .button__secondary, .experience .button__primary--link, .experience .button__primary--outline, .experience .button__primary {
  margin-top: 3rem;
}
.experience .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.experience__slider {
  padding-top: 8rem;
  padding-bottom: 10rem;
}
.experience__slider .slider__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
.experience__slider .slider__item img {
  width: 410px;
}
.experience__container {
  gap: 5.2rem;
  position: relative;
}

/*=============== QUESTIONS ===============*/
.questions {
  background-color: var(--color-white);
  padding-top: 112px;
  padding-bottom: 70px;
}
.questions .content__container--center {
  max-width: 800px;
}
.questions .button, .questions .button__secondary, .questions .button__primary--link, .questions .button__primary--outline, .questions .button__primary {
  margin-top: 3rem;
}
.questions__wrapp {
  gap: 5.2rem;
}
.questions .container {
  gap: 5.2rem;
  position: relative;
}
.questions__image {
  position: relative;
}
.questions__image--item {
  position: absolute;
}
.questions__image--item:nth-child(1) {
  right: 0;
  top: 0;
}
.questions__image--item:nth-child(2) {
  left: 0;
  top: 86px;
}

/*=============== APPLICATIONS ===============*/
.application {
  margin-top: 112px;
  padding-bottom: 80px;
}
.application .container {
  gap: 5.4rem;
}
.application__content {
  max-width: 576px;
}
.application__image {
  position: relative;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.application__image--big {
  border-radius: 2.4rem;
}
.application__image .counters__card {
  position: absolute;
  width: 196px;
  padding: 3rem;
}
.application__image .counters__card .title, .application__image .counters__card .title--accordion, .application__image .counters__card .title--xxl, .application__image .counters__card .title--xl, .application__image .counters__card .title--form, .application__image .counters__card .title--footer {
  color: #fc201e;
}
.application__image .counters__card:nth-child(1) {
  width: 196px;
  left: -50px;
  top: 12px;
}
.application__image .counters__card:nth-child(2) {
  width: 293px;
  right: -56px;
  bottom: -80px;
}
.application__image .counters__card .text, .application__image .counters__card .text--xs, .application__image .counters__card .text--small, .application__image .counters__card .text--xl, .application__image .counters__card .text--ul {
  color: var(--color-title);
}

/*=============== TEAM ===============*/
.team {
  padding-top: 112px;
  padding-bottom: 30px;
  overflow: hidden;
}
.team .content__container--center {
  max-width: 800px;
}
.team .container {
  gap: 6.4rem;
}
.team__slider {
  position: relative;
}
.team .slick-list {
  overflow: hidden;
}
.team .slick-dots {
  position: absolute;
  bottom: -25px;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.team .slick-dots li {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 1rem;
  padding: 0;
  cursor: pointer;
}
.team .slick-dots li.slick-active button {
  border: 2px solid var(--color-title-accent);
}
.team .slick-dots li.slick-active button::before {
  content: "";
  background-color: var(--color-title-accent);
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
}
.team .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 16px;
  height: 16px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border-radius: 50%;
  border: 2px solid #d9d9d9;
}
.team .slider-card__wrapp {
  position: relative;
  padding: 0 1.5rem 2rem 1.5rem;
  width: 380px;
}
.team .slider-card__img {
  border-radius: 1.8rem;
}
.team .slider-card__content {
  position: absolute;
  bottom: 2rem;
  left: 1.5rem;
  padding: 2.4rem 3rem 2rem 3rem;
  background-color: var(--color-white);
  border-radius: 0 2rem 0 1.7rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.team .slider-card__title {
  color: var(--color-title);
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 120%;
}
.team .slider-card__text {
  color: var(--color-text);
  font-size: 1.5rem;
  line-height: 170%;
}

/*=============== FAQ ===============*/
.faq {
  background-color: var(--color-white);
  padding-top: 177px;
}
.faq .container {
  gap: 5.2rem;
  position: relative;
}
.faq .container .content__container, .faq .container .content__container--center {
  gap: 2rem;
}

/*=============== SOCIAL-STRATEGY ===============*/
.social-strategy {
  padding-top: 112px;
  padding-bottom: 112px;
}
.social-strategy .container {
  position: relative;
  overflow: hidden;
}
.social-strategy__float-img {
  position: absolute;
  top: 120px;
  left: center;
}

/*=============== ORDER-CALL ===============*/
.order-call {
  padding-top: 112px;
}
.order-call .container {
  gap: 9.3rem;
}
.order-call__form {
  padding: 6.3rem 4.6rem 4.5rem 4.6rem;
  border-radius: 20px;
  border: 1px solid #f3f3f3;
  background: var(--color-white);
  -webkit-box-shadow: 0px 15px 30px 0px rgba(61, 90, 125, 0.08);
          box-shadow: 0px 15px 30px 0px rgba(61, 90, 125, 0.08);
}
.order-call__form .button, .order-call__form .button__secondary, .order-call__form .button__primary--link, .order-call__form .button__primary--outline, .order-call__form .button__primary {
  width: 100%;
}

/*=============== FOOTER ===============*/
.footer {
  padding: 90px 105px 8px 105px;
  background-color: var(--color-dark);
}
.footer-widget {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding: 0px 15px 40px 15px;
}
.footer-widget:nth-child(2) .footer-widget__list, .footer-widget:nth-child(3) .footer-widget__list {
  list-style: disc;
  margin-left: 2rem;
}
.footer-widget:nth-child(4) .footer-widget__list {
  gap: 2.4rem;
}
.footer-widget__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.footer-widget__icon {
  width: 24px;
  height: 24px;
  margin-right: 13px;
}
.footer-widget .nav-link {
  color: var(--color-text-menu-light);
}

/*=============== TITLE ===============*/
.title, .title--accordion, .title--xxl, .title--xl, .title--form, .title--footer {
  font-size: 5rem;
  line-height: 120%;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--color-title);
}
.title--footer {
  font-size: 2rem;
}
.title--form {
  font-size: 3rem;
  font-weight: 500;
}
.title--xl {
  font-size: 7.2rem;
  line-height: 80%;
  color: #ff7012;
}
.title--xxl {
  font-size: 9.6rem;
  line-height: 80%;
}
.title--white {
  color: var(--color-white);
}
.title--blue-dark {
  color: #1eb9fc;
}
.title--gradient {
  background: linear-gradient(91deg, #6071d9 36.51%, #aa676f 63.73%, #ccb41a 97.49%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.title--accordion {
  font-size: 1.8rem;
}

/*=============== SUBTITLE ===============*/
.subtitle, .subtitle--gradient {
  font-size: 2rem;
  line-height: 120%;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--color-title-accent);
}
.subtitle--gradient {
  font-size: 2.4rem;
  background: linear-gradient(91deg, #6071d9 36.51%, #aa676f 63.73%, #ccb41a 97.49%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

/*=============== TEXT ===============*/
.text, .text--xs, .text--small, .text--xl, .text--ul {
  font-size: 1.9rem;
  line-height: 170%;
  font-weight: 300;
  color: var(--color-text);
}
.text--light {
  color: var(--color-text-menu-light);
}
.text--dark {
  color: var(--color-text-dark);
}
.text--ul {
  text-decoration: underline;
}
.text--xl {
  font-size: 2.9rem;
  font-weight: 300;
}
.text--small {
  font-size: 1.6rem;
  font-weight: normal;
}
.text--xs {
  font-size: 1.4rem;
  color: var(--color-text-light);
}

/*=============== ICONS ===============*/
.icon, .icon--light {
  width: 32px;
  height: 32px;
}
.icon--light {
  fill: var(--color-icon-ligth);
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
}
.icon--light:hover {
  fill: var(--color-btn-primary);
}
.icon-container {
  gap: 1.5rem;
}

/*=============== LINK ===============*/
.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
}

.nav-link {
  color: var(--color-text-menu);
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.nav-link:hover {
  color: var(--color-title-accent);
}
.nav-link:hover .nav-link__arrow {
  fill: var(--color-title-accent);
}
.nav-link__arrow {
  fill: var(--color-text-menu);
  width: 14px;
  height: 16px;
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
}

/*=============== BUTTON ===============*/
.button, .button__secondary, .button__primary--link, .button__primary--outline, .button__primary {
  padding: 1.9rem 3.3rem;
  border-radius: 2rem;
  color: var(--color-white);
  font-size: 1.6rem;
  font-weight: 600;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: none;
}
.button:hover, .button__secondary:hover, .button__primary--link:hover, .button__primary--outline:hover, .button__primary:hover {
  opacity: 0.5;
}
.button__primary {
  color: var(--color-white);
  background-color: var(--color-btn-primary);
}
.button__primary--outline {
  color: var(--color-btn-primary);
  border: 1px solid var(--color-btn-primary);
  background-color: var(--color-white);
}
.button__primary--link {
  color: var(--color-btn-primary);
  border: 1px solid transparent;
}
.button__primary--link:hover {
  border: 1px solid var(--color-btn-primary);
}
.button__secondary {
  background-color: var(--color-btn-secondary);
}
.button__container {
  gap: 1.2rem;
}
.button__container {
  padding-top: 64px;
}

/*=============== DROPDOWN ===============*/
.dropdown-toggle::after {
  border: none;
}
.dropdown-toggle.show {
  color: var(--color-title-accent);
}
.dropdown-toggle.show .main-container {
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  z-index: 8;
}
.dropdown-toggle.show .nav-link__arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  fill: var(--color-title-accent);
}
.dropdown__menu {
  width: 98vw;
  padding: 4.3rem 0 5.6rem 0;
  border-bottom: 1px solid var(--color-border);
  background: var(--color-white);
  -webkit-box-shadow: 0px 14px 44px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 14px 44px 0px rgba(0, 0, 0, 0.05);
}
.dropdown-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dropdown-container--row {
  width: 100%;
  gap: 2.8rem;
}
.dropdown__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
}
.dropdown__title {
  color: var(--color-text-menu);
  font-size: 2.8rem;
  font-weight: 300;
}
.dropdown__content {
  color: var(--color-text);
  font-size: 1.8rem;
  line-height: 180%;
}
.dropdown-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.dropdown-list__item {
  gap: 1.2rem;
}
.dropdown-list__icon {
  width: 20px;
  height: 20px;
}
.dropdown-list__text {
  color: var(--color-text);
  font-size: 1.9rem;
  line-height: 166%;
  cursor: pointer;
}
.dropdown-list__text:hover {
  color: var(--color-title-accent);
}

/*=============== GALLERY ===============*/
.gallery {
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.gallery-image {
  border-radius: 1.6rem;
}
.gallery-image--large {
  width: 300px;
  height: 100%;
  background-color: var(--color-border);
  grid-column: 2/3;
  grid-row: 1/span 2;
}

/*=============== COUNTERS ===============*/
.counters {
  gap: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.counters__card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.9rem;
  width: 250px;
  height: 250px;
  border-radius: 20px;
  background-color: var(--color-white);
  -webkit-box-shadow: 0px 35px 34px 0px rgba(61, 90, 125, 0.06);
          box-shadow: 0px 35px 34px 0px rgba(61, 90, 125, 0.06);
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
}
.counters__card--offices {
  background-image: url(../images/counters/counter_icon01.svg);
}
.counters__card--offices .title, .counters__card--offices .title--footer, .counters__card--offices .title--form, .counters__card--offices .title--xl, .counters__card--offices .title--xxl, .counters__card--offices .title--accordion {
  color: #f76766;
}
.counters__card--customers {
  background-image: url(../images/counters/counter_icon03.svg);
}
.counters__card--customers .title, .counters__card--customers .title--footer, .counters__card--customers .title--form, .counters__card--customers .title--xl, .counters__card--customers .title--xxl, .counters__card--customers .title--accordion {
  color: #57c0ce;
}
.counters__card--workers {
  background-image: url(../images/counters/counter_icon02.svg);
  background-position: right bottom;
}
.counters__card--workers .title, .counters__card--workers .title--footer, .counters__card--workers .title--form, .counters__card--workers .title--xl, .counters__card--workers .title--xxl, .counters__card--workers .title--accordion {
  color: #265fdb;
}
.counters__card--projects {
  background-image: url(../images/counters/counter_icon04.svg);
}
.counters__card--projects .title, .counters__card--projects .title--footer, .counters__card--projects .title--form, .counters__card--projects .title--xl, .counters__card--projects .title--xxl, .counters__card--projects .title--accordion {
  color: #a666f7;
}
.counters__card .text, .counters__card .text--ul, .counters__card .text--xl, .counters__card .text--small, .counters__card .text--xs {
  color: var(--color-text-card);
}
.counters__card-img-bg {
  position: absolute;
  bottom: 0;
  left: 0;
}
.counters__item {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

/*=============== SLIDER ===============*/
.slider__item {
  cursor: pointer;
}
.slider__item img {
  border-radius: 1.6rem;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: inherit;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.4rem;
}

/*=============== BADGES ===============*/
.badges {
  padding: 0.4rem 1.8rem;
  font-size: 1.6rem;
  line-height: 200%;
  border-radius: 3.2rem;
  color: var(--color-black);
}
.badges__container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  row-gap: 8px;
}
.badges--orange {
  border: 1px solid #f89e52;
  background-color: #fffaf1;
}
.badges--yellow {
  border: 1px solid #fff04d;
  background-color: #ffffee;
}
.badges--blue {
  border: 1px solid #c7d9f2;
  background-color: #f6fcff;
}
.badges--pink {
  border: 1px solid #ffb6d8;
  background-color: #fff6fa;
}
.badges--green {
  border: 1px solid #cfe2cf;
  background-color: #f7fff7;
}
.badges--red {
  border: 1px solid #ffafaf;
  background-color: #fff6f6;
}
.badges--purple {
  border: 1px solid #dac0ff;
  background-color: #fcf9ff;
}

/*=============== LIST ===============*/
.list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6rem;
}
.list__item {
  gap: 1.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 140%;
  color: var(--color-text-accent);
}

/*=============== ACCORDION ===============*/
.accordion {
  width: 100%;
}
.accordion__item {
  width: 100%;
  height: 105px;
  -webkit-transition: height 0.5s ease;
  transition: height 0.5s ease;
}
.accordion__item.active {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.accordion__item.active .accordion__content {
  display: block;
}
.accordion__tab {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  gap: 1.8rem;
  padding: 3.3rem 0 3.3rem 2.5rem;
  border-radius: 20px;
  border: 1px solid #f4f4f4;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(61, 90, 125, 0.05);
          box-shadow: 0px 15px 30px 0px rgba(61, 90, 125, 0.05);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.accordion__tab.active {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.accordion__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 37px;
  height: 37px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 18.5px;
  background: #edf2fa;
}
.accordion__icon img {
  width: 24px;
  height: 24px;
  fill: var(--color-black);
}
.accordion__content {
  display: none;
  padding: 1.7rem 8.4rem 3.1rem 8rem;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: #f4f4f4;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(61, 90, 125, 0.05);
          box-shadow: 0px 15px 30px 0px rgba(61, 90, 125, 0.05);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/*=============== INPUT GROUPS ===============*/
.input-group {
  margin-top: 86px;
  margin-bottom: 80px;
  gap: 2.4rem;
  border-radius: 24px;
  border: 1px solid #efefef;
  background: #fff;
  -webkit-box-shadow: 0px 34px 64px 0px rgba(20, 28, 49, 0.11);
          box-shadow: 0px 34px 64px 0px rgba(20, 28, 49, 0.11);
  max-width: 586px;
  padding: 26px 16px 26px 32px;
}
.input-group__icon {
  width: 32px;
  height: 32px;
}
.input-group__form {
  gap: 3.2rem;
}
.input-group .form__input {
  padding: 0 1.1rem;
  border: none;
  color: var(--color-text-accent);
}
.input-group .button, .input-group .button__primary, .input-group .button__primary--outline, .input-group .button__primary--link, .input-group .button__secondary {
  padding: 1.6rem 3.9rem;
}

/*=============== FORM ===============*/
.form {
  max-width: 482px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
.form__input-list {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.form__input-item {
  padding: 2.3rem 2.9rem;
  border-radius: 13px;
  border: 1px solid var(--color-border);
  background: #fbfdff;
}
.form__input-item::-webkit-input-placeholder {
  color: var(--color-title);
}
.form__input-item::-moz-placeholder {
  color: var(--color-title);
}
.form__input-item:-ms-input-placeholder {
  color: var(--color-title);
}
.form__input-item::-ms-input-placeholder {
  color: var(--color-title);
}
.form__input-item::placeholder {
  color: var(--color-title);
}

/*=============== COPYRIGHT ===============*/
.copyright {
  padding: 2.1rem 10.5rem;
  background-color: #24222e;
}
.copyright .text, .copyright .text--ul, .copyright .text--xl, .copyright .text--small, .copyright .text--xs {
  color: var(--color-white);
}/*# sourceMappingURL=main.css.map */