/*=============== BASE ===============*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-family: var(--body-font);
    background-color: var(--color-white);
    color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-title);
    margin-bottom: 0;
}

ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

button {
    cursor: pointer;
    border: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
}
