/*=============== DROPDOWN ===============*/

.dropdown {
    &-toggle {
        &::after {
            border: none;
            margin: 0;
        }
        &.show {
            color: var(--color-title-accent);

            .main-container {
                width: 100%;
                height: 100%;
                background-color: var(--color-white);
                z-index: 8;
            }

            .nav-link__arrow {
                transform: rotate(180deg);
                fill: var(--color-title-accent);
            }
        }
    }

    &__menu {
        width: 98vw;
        padding: 4.3rem 0 5.6rem 0;
        border-bottom: 1px solid var(--color-border);
        background: var(--color-white);
        box-shadow: 0px 14px 44px 0px rgba(0, 0, 0, 0.05);
        max-height: calc(100vh - 188px);
        overflow-y: auto;

        @media screen and (max-width: $screen-tablet) {
            max-height: calc(100vh - 502px);
        }
    }

    &-container {
        flex-direction: column;

        &--row {
            width: 100%;
            gap: 2.8rem;
        }

        &--grid {
            width: 100%;
            margin-bottom: 6rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 8rem;

            @media screen and (max-width: $screen-mobile) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    &__item {
        flex-direction: column;
        gap: 2.4rem;
    }

    &__title {
        color: var(--color-text-menu);
        font-size: 2.8rem;
        font-weight: 300;
    }

    &__content {
        color: var(--color-text);
        font-size: 1.8rem;
        line-height: 180%;
    }

    &-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @media screen and (max-width: $screen-mobile) {
            display: none;
        }

        &__item {
            gap: 1.2rem;
        }

        &__icon {
            width: 20px;
            height: 20px;
        }

        &__text {
            color: var(--color-text);
            font-size: 1.9rem;
            line-height: 166%;
            cursor: pointer;

            &:hover {
                color: var(--color-title-accent);
            }
        }
    }
}
