/*=============== GALLERY ===============*/

.gallery {
    justify-content: end;
    gap: 1.6rem;

    @media screen and (max-width: $screen-mobile) {
        gap: 8px;
    }

    &__col {
        flex-direction: column;
        gap: 1.6rem;

        @media screen and (max-width: $screen-mobile) {
            gap: 8px;
        }
    }

    @media screen and (max-width: $screen-laptop) {
        justify-content: center;
    }

    &__image {
        border-radius: 1.6rem;

        &--large {
            height: 100%;
        }
    }
}
