/*=============== ICONS ===============*/

.icon {
    width: 32px;
    height: 32px;

    &--light {
        fill: var(--color-icon-ligth);
        transition: fill 0.5s;

        &:hover {
            fill: var(--color-btn-primary);
        }
    }

    &-container {
        gap: 1.5rem;
    }
}
