/*=============== TEXT ===============*/

.text {
    font-size: 1.9rem;
    line-height: 170%;
    font-weight: 300;
    color: var(--color-text);

    &--light {
        color: var(--color-text-menu-light);
    }

    &--dark {
        color: var(--color-text-dark);
    }

    &--ul {
        @extend .text;
        text-decoration: underline;
    }

    &--xl {
        @extend .text;
        font-size: 2.9rem;
        font-weight: 300;
    }

    &--small {
        @extend .text;
        font-size: 1.6rem;
        font-weight: normal;
    }

    &--xs {
        @extend .text;
        font-size: 1.4rem;
        color: var(--color-text-light);
    }

    &--fb {
        font-weight: 500;
        color: #4e6cb4;
    }

    &--inst {
        font-weight: 500;
        color: #ee4983;
    }

    &--li {
        font-weight: 500;
        color: #0478b5;
    }

    &--g {
        font-weight: 500;
        color: #4989f5;
    }

    &--tw {
        font-weight: 500;
        color: var(--color-black);
    }

    &--yt {
        font-weight: 500;
        color: #e42c2d;
    }

    &--pt {
        font-weight: 500;
        color: #ef4a48;
    }
}
