/*=============== TITLE ===============*/

.title {
    font-size: 5rem;
    line-height: 120%;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--color-title);

    &--white {
        color: var(--color-white);
    }

    &--red {
        color: #f76766;

        &-dark {
            color: #fc201e;
        }
    }

    &--light-blue {
        color: #57c0ce;
    }

    &--blue {
        color: #265fdb;

        &-light {
            color: #57c0ce;
        }

        &-dark {
            color: #1eb9fc;
        }
    }

    &--purple {
        color: #a666f7;
    }

    &--gradient {
        background: linear-gradient(
            91deg,
            #6071d9 36.51%,
            #aa676f 63.73%,
            #ccb41a 97.49%
        );
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    &--accordion {
        font-size: 1.8rem;
    }
}
