/*=============== TITLE ===============*/

.title {
    font-size: 5rem;
    line-height: 120%;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--color-title);

    &--footer {
        @extend .title;
        font-size: 2rem;
    }

    &--form {
        @extend .title;
        font-size: 3rem;
        font-weight: 500;
    }

    &--xl {
        @extend .title;
        font-size: 7.2rem;
        line-height: 80%;
        color: #ff7012;
    }

    &--xxl {
        @extend .title;
        font-size: 9.6rem;
        line-height: 80%;
    }

    &--white {
        color: var(--color-white);
    }

    &--blue {
        &-dark {
            color: #1eb9fc;
        }
    }

    &--gradient {
        background: linear-gradient(
            91deg,
            #6071d9 36.51%,
            #aa676f 63.73%,
            #ccb41a 97.49%
        );
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    &--accordion {
        @extend .title;
        font-size: 1.8rem;
    }
}
