/*=============== APPLICATIONS ===============*/

.application {
    margin-top: 112px;
    padding-bottom: 80px;

    .container {
        gap: 5.4rem;
    }

    &__content {
        max-width: 576px;
    }

    &__image {
        position: relative;
        max-width: fit-content;

        &--big {
            border-radius: 2.4rem;
        }

        .counters__card {
            position: absolute;
            width: 196px;
            padding: 3rem;

            & .title {
                color: #fc201e;
            }

            &:nth-child(1) {
                width: 196px;
                left: -50px;
                top: 12px;
            }

            &:nth-child(2) {
                width: 293px;
                right: -56px;
                bottom: -80px;
            }

            .text {
                color: var(--color-title);
            }
        }

        .counters__item {
            animation-duration: 0.2s;
            animation-delay: 0s;
        }
    }
}
