/*=============== AUDIENCE ===============*/

.audience {
    background-color: var(--color-white);
    padding-top: 224px;

    &__container {
        gap: 7.2rem;
        position: relative;
    }

    &__content {
        position: relative;
    }

    &__float-img {
        position: absolute;

        &:nth-child(1) {
            width: 68px;
            right: -153px;
            top: -57px;
            animation: rotate 5s infinite;
        }

        &:nth-child(2) {
            width: 109px;
            right: 136px;
            bottom: -41px;
            animation-delay: 1s;
            animation: floating 5s infinite;
        }
    }
}
