/*=============== BRAND-CREATION ===============*/

.brand-creation {
    background-color: var(--color-white);
    padding-top: 112px;
    padding-bottom: 70px;
    margin-bottom: -70px;
    overflow: hidden;

    @media screen and (max-width: $screen-mobile) {
        padding-top: 80px;
        padding-bottom: 57px;
        margin-bottom: 0;
    }

    &__container {
        width: 100%;
        gap: 4.4rem;
        // overflow: hidden;

        @media screen and (max-width: $screen-tablet) {
            flex-direction: column;
        }

        @media screen and (max-width: $screen-mobile) {
            gap: 3.6rem;
        }
    }

    .container {
        position: relative;
    }

    &__content {
        max-width: 400px;
        position: relative;
        z-index: 2;

        @media screen and (max-width: $screen-tablet) {
            max-width: fit-content;
        }
    }

    &__slider {
        gap: 2.4rem;
        left: 480px;
        position: absolute;
        width: 100%;
        @media screen and (max-width: $screen-tablet) {
            left: 0;
            position: relative;
            max-width: 100%;
        }

        &::before {
            position: absolute;
            content: "";
            width: 4000px;
            height: 100%;
            background: #fff;
            right: 100%;
            top: 0;
            z-index: 1;
        }

        .slick-track::after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }

        .slider__item {
            max-width: 379px;

            @media screen and (max-width: $screen-tablet) {
                width: auto;
                max-width: 328px;
            }
        }
    }

    &__float-img {
        position: absolute;
        animation: rotate 5s infinite;

        @media screen and (max-width: $screen-tablet) {
            display: none;
        }

        &:nth-child(1) {
            width: 67px;
            left: -105px;
            top: -50px;
        }

        &:nth-child(2) {
            width: 109px;
            right: 83px;
            bottom: -65px;
            animation-delay: 1s;
        }
    }

    .button__primary {
        @media screen and (max-width: $screen-mobile) {
            width: 100%;
        }
    }
}
