/*=============== BRAND-CREATION ===============*/

.brand-creation {
    background-color: var(--color-white);
    padding-top: 112px;
    padding-bottom: 70px;
    margin-bottom: -70px;
    overflow: hidden;

    &__container {
        gap: 4.4rem;
        position: relative;
    }

    &__content {
        max-width: 400px;
        position: relative;
        z-index: 2;
    }

    &__slider {
        gap: 2.4rem;
        left: 444px;
        position: absolute;
        max-width: 964px;

        &::before {
            position: absolute;
            content: "";
            width: 4000px;
            height: 100%;
            background: #fff;
            right: 100%;
            top: 0;
            z-index: 1;
        }

        .slick-track::after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }

        .slider__item {
            width: 379px;
        }
    }

    &__float-img {
        position: absolute;
        animation: rotate 5s infinite;

        &:nth-child(1) {
            width: 67px;
            left: -105px;
            top: -50px;
        }

        &:nth-child(2) {
            width: 109px;
            right: 83px;
            bottom: -65px;
            animation-delay: 1s;
        }
    }
}
