/*=============== CUSTOMERS ===============*/

.customers {
    &__container {
        border-radius: 20px;
        background: var(--color-dark);
        padding: 6.3rem 0;
        align-items: center;
        position: relative;
        top: 85px;
        z-index: 5;
        overflow: hidden;

        &::before,
        &::after {
            content: "";
            height: 100%;
            position: absolute;
            width: 10rem;
            z-index: 2;
            background: linear-gradient(
                90deg,
                var(--color-dark),
                var(--color-dark),
                transparent
            );
        }

        &::after {
            right: 0;
            top: 0;
            -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
        }

        .slide-track {
            animation: scrollbg linear infinite;
            display: flex;
            animation-duration: 30s;
        }

        .slide {
            width: max-content;
            padding: 0 50px;
        }
    }
}
