/*=============== EXPERIENCE ===============*/

.experience {
    padding: 112px 0;
    overflow: hidden;

    @media screen and (max-width: $screen-laptop) {
        padding-bottom: 80px;
    }

    &__container {
        gap: 5.2rem;
        position: relative;

        @media screen and (max-width: $screen-laptop) {
            gap: 7rem;
        }
    }

    .content__container--center {
        max-width: 600px;
    }

    .button {
        margin-top: 3rem;
    }

    &__container {
        flex-direction: column;
    }

    &__slider {
        padding-top: 8rem;
        padding-bottom: 10rem;

        @media screen and (max-width: $screen-laptop) {
            padding: 0;
        }

        .slider__item {
            flex-direction: column;
            gap: 3rem;

            & img {
                width: 410px;
            }
        }
    }

    .button__primary {
        margin: 0;
    }

    .ask-container {
        @media screen and (max-width: $screen-mobile) {
            flex-direction: column;
            text-align: center;
            gap: 1.3rem;
        }
    }
}
