/*=============== HEADER ===============*/

.header {
    padding: 7px 0;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    z-index: 10;

    &__container {
        width: 100%;
        gap: 2rem;
        position: relative;
    }

    &__menu {
        gap: 5.2rem;
    }

    &__nav {
        display: flex;
        gap: 3.2rem;

        .nav-link {
            padding: 3.5rem 0;
            font-size: 1.6rem;
            font-weight: 500;
        }
    }

    &__logo {
        max-width: fit-content;
    }
}
