/*=============== HERO ===============*/

.hero {
    padding-top: 120px;
    padding-bottom: 196px;
    background-color: var(--color-white);

    .subtitle {
        padding: 1.2rem 2.4rem;
        border-radius: 3.2rem;
        color: var(--color-white);
        background-color: var(--color-btn-secondary);
        font-size: 1.6rem;
        transition: all 0.5s;
    }

    .button__container {
        padding-top: 64px;
    }

    &-gallery {
        gap: 1.6rem;
        grid-template-columns: auto auto;
    }
}
