/*=============== INBOX ===============*/

.inbox {
    background-color: var(--color-white);
    padding-top: 180px;

    display: none;

    &__container {
        width: 100%;
        gap: 13.5rem;
        position: relative;
    }

    &__content {
        max-width: 400px;
        position: relative;
    }

    &__float-img {
        position: absolute;

        &:nth-child(1) {
            width: 67px;
            right: 16px;
            top: -87px;
            animation: rotate 5s infinite;
        }

        &:nth-child(2) {
            width: 109px;
            right: -53px;
            bottom: -35px;
            animation-delay: 1s;
            animation: floating 5s infinite;
        }
    }

    &__image {
        position: relative;
        max-width: fit-content;
        padding: 76px;
        border-radius: 76px;
        border: 1px dashed var(--color-border-light);

        &--big {
            border-radius: 66px;
        }

        &--float {
            position: absolute;

            &:nth-child(1) {
                top: -72px;
                right: 110px;
                animation: ImgBounce 5s ease-in-out 0s infinite alternate;
            }

            &:nth-child(2) {
                top: 77px;
                left: -26px;
                animation: scale 5s ease-in-out 0s infinite;
            }

            &:nth-child(3) {
                top: 50%;
                left: 53px;
            }

            &:nth-child(4) {
                top: 300px;
                right: -14px;
            }

            &:nth-child(5) {
                bottom: -35px;
                left: 66px;
                animation: scale 5s ease-in-out 0s infinite;
            }
        }
    }
}
