/*=============== MANAGAMENT ===============*/

.management {
    padding-top: 195px;
    padding-bottom: 112px;

    &__container {
        width: 100%;
        gap: 5rem;
    }

    .text {
        color: var(--color-text-light);
    }
}
