/*=============== MANAGAMENT ===============*/

.management {
    background-color: var(--color-bg-dark);
    padding-top: 195px;
    padding-bottom: 112px;

    .content-text {
        color: var(--color-text-light);
    }
}
