/*=============== QUESTIONS ===============*/

.questions {
    background-color: var(--color-white);
    padding-top: 112px;
    padding-bottom: 70px;

    .content__container--center {
        text-align: center;
        max-width: 800px;
        gap: 1.6rem;
    }

    .button {
        margin-top: 3rem;
    }

    &__wrapp {
        gap: 5.2rem;
    }

    &__container {
        gap: 5.2rem;
        position: relative;
    }

    &__image {
        position: relative;

        &--item {
            position: absolute;

            &:nth-child(1) {
                right: 0;
                top: 0;
            }

            &:nth-child(2) {
                left: 0;
                top: 86px;
            }
        }
    }
}
