/*=============== QUESTIONS ===============*/

.questions {
    background-color: var(--color-white);
    padding-top: 112px;
    padding-bottom: 70px;

    &__container {
        flex-direction: column;
        gap: 5.2rem;
        position: relative;
    }

    .content__container--center {
        max-width: 800px;
    }

    .button {
        margin-top: 3rem;
    }

    &__wrapp {
        width: 100%;
        gap: 2.5rem;
    }

    &__image {
        padding: 0 1.5rem;
        position: relative;

        &--item {
            position: absolute;

            &:nth-child(1) {
                right: 0;
                top: 0;
            }

            &:nth-child(2) {
                left: 0;
                top: 86px;
            }
        }
    }
}
