/*=============== SOCIAL-STRATEGY ===============*/

.social-strategy {
    padding-top: 112px;
    padding-bottom: 112px;

    .container {
        position: relative;
        overflow: hidden;
    }

    &__float-img {
        position: absolute;
        top: 120px;
        left: center;
    }
}
