/*=============== SOCIAL-STRATEGY ===============*/

.social-strategy {
    padding-top: 112px;
    padding-bottom: 112px;
    position: relative;
    overflow: hidden;

    &__float-img {
        position: absolute;
        top: 280px;
        left: center;
    }
}
